     #sec {
         background-size: cover;
         background-position: center;
         padding: 60px 20px;
         min-height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     #yaya {
         padding: 30px;
         border-radius: 10px;
         border: 1vh solid #356999;
         width: 100%;
         max-width: 500px;
         box-shadow: 0 4px 10px rgba(55, 146, 249, 1.0);
     }

     /* #yaya h {
         text-align: center;
         margin-bottom: 25px;
         color: #356999;
     } */

     #yaya label {
         display: block;
         margin-bottom: 6px;
         font-weight: bold;
         color: #356999;
     }

     #yaya input,
     #yaya textarea {
         width: 100%;
         padding: 12px;
         margin-bottom: 20px;
         border: none;
         border-radius: 5px;
         font-size: 16px;
     }

     #yaya textarea {
         resize: vertical;
     }

     #yaya button {
         background-color: #356999;
         color: white;
         padding: 12px 20px;
         border: none;
         border-radius: 5px;
         font-size: 16px;
         cursor: pointer;
         float: right;
         transition: background 0.3s;
     }

     #yaya button:hover {
         background-color: rgb(55, 146, 249);
         transform: scale(1.05);
     }