/* rensponsif header */
.hamburger {
    display: none;
    top: 0;
    margin-top: 10px;
    font-size: 2.2rem;
    background: none;
    border: none;
    color: var(--accent);
    cursor: pointer;
}

@media (max-width: 1000px) {
    .nav-blur-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.24);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
        z-index: 998;
    }

    .head {
        backdrop-filter: none;
        background-color: var(--box);
    }

    .nav-blur-overlay.show {
        opacity: 1;
        pointer-events: auto;
    }

    .nav-blur-overlay.show {
        display: block;
    }

    /* nav-menu tetap 50% */
    .nav-menu {
        position: fixed;
        width: 50%;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.404);
        backdrop-filter: blur(20px);
        display: none;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
    }

    .nav-menu.show {
        display: flex;
        transform: translateX(0);
    }

    .nav-menu li {
        /* padding: auto; */

        margin: 2rem 3rem;
        list-style: circle;
        font-size: 1rem;
    }

    .logo img {
        display: none;
    }

    .hamburger {
        display: block;
        position: fixed;
        z-index: 1000;
    }



    .logo {
        margin-left: auto;
        /* flex: 1; */
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: center; */
        /* align-items: center; */
        /* gap: 1rem; */
    }

    .home-text {
        padding-left: 25px;
    }

    .home-text h1 {
        font-size: 1rem;
        font-weight: 600;
        color: var(--text);
    }

    .home-text p {
        font-size: 0.5rem;
    }

    .watch-btn .bx {
        width: 20px;
        height: 20px;
    }

    .watch-btn span {
        font-size: 0.5rem;
    }
}