* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 5rem;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: "Segoe UI", sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.art {
    font-family: Skrip Kuas;
    color: #356999;
}

body {
    background-color: #060606;
}

.head {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(253, 248, 248, 0.055);
    /* hitam transparan */
    backdrop-filter: blur(5px);
    padding: 20px 5%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 40% 80% 50% 60%;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-underline-offset: 4px;
}

.logo span {
    color: #356999;
}

.logo span:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #356999;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}


.nav-menu li a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav-menu li a::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 1px;
    bottom: -5px;
    width: 0;
    background-color: #356999;
    transition: width 0.5s ease;
    transform: translateX(-50%);
}

.nav-menu li a:hover::after,
.nav-menu li a.active::after {
    width: 100%;
    left: 0;
    transform: none;
}

.nav-menu li a:hover,
.nav-menu li a.active {
    color: #356999;
    text-shadow: 0 0px 4px #356999;
}


.search-box {
    display: flex;
    /* width: 100%; */
    max-width: 400px;
}

.search-box input {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    padding: 8px 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-box button {
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
    background: #356999;
    border: none;
    padding: 9px 12px;
    cursor: pointer;
    color: #060606;
    font-size: 20px;
}

.button-search {
    display: flex;
    align-items: center;
}

/* kata homepage */
#kata {
    margin-top: 20vh;
    text-align: center;
    padding: 60px 20px 30px;
}

#kata h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #356999;
}

#kata p {
    color: gray;
    max-width: 600px;
    margin: 0 auto 20px;
}

#kata button {
    background-color: #1a1a1a;
    color: #356999;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}

.mulai :hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(55, 146, 249, 0.7);
    z-index: 10;
}

/* FOOTER */
.xiaomi-foot {
    margin-top: 13%;
    background-color: #1a1a1a;
    padding: 2%;
    color: white;
    border-top: 1px solid #ddd;
    bottom: 0;
    height: 50%;
}

.foot-contain {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10vh;
}

.foot {
    flex: 1;
    min-width: 250px;
}

.med {
    margin-left: 15vh;
}

#sos {
    margin-left: 10vh;

}

.foot h2,
.foot h3 {
    font-weight: 700;
    margin-bottom: 2vh;
    /* margin-left: 5vw; */
}

.foot p {
    font-size: 15px;
    line-height: 1.6;
}

/* margin-left: 5vh; */

.foot-medsos a img {

    width: 30px;
    margin-left: 5vh;
    transition: transform 0.2s ease;
}

.foot-medsos a img:hover {
    transform: scale(1.1);
}